<form action="{% url "recherche" num_page%}" method="post">
        {% csrf_token %}<!--Permet de sécuriser le POST -->
        {{ form.as_p }}
        <input type="submit" value="envoyer" />

</form>

<h1>Critères choisis</h1>
<li>auteur : {{ auteur|default:"tous les auteurs" }}</li>
<li>genre : {{ genre|default:"tous les genres" }}</li>
<li>titre : {{ titre|default:"tous les titres" }}</li>

<h1>livres en sortie</h1>
{% for livre in query %}
    <p>{{ livre.title }}, par {{ livre.id.first.name }}</p>

{% empty %}
    <p>Aucun livre trouvé</p>

{% endfor %}