{% extends "base.html" %}

{% load static %}

{% block styleSup %}
    <link href="{% static 'bibliotheque/recherche.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="global">

        <div class="formulaire">
            <h1 class="titres">Rechercher un livre</h1>
            <form action="{% url "recherche" num_page%}" method="post">
                {% csrf_token %}<!--Permet de sécuriser le POST -->
                {{ form.as_p }}
                <input type="submit" value="Chercher" />
            </form>
            <br>
        </div>

        <hr>

        <div class="criteres">
            <h1 class="titres">Recherche actuelle</h1>
            <span class="texte_recherche"> Genre </span>: {{ genre|default:"BD et Manga " }}. <br>
            <span class="texte_recherche"> Auteur </span>: {{ auteur|default:"tous les auteurs " }}. <br>
            <span class="texte_recherche"> Titre </span>: {{ titre|default:"tous" }}. <br>
            <span class="texte_recherche"> Série </span>: {{ serie|default:"toutes" }}. <br>
            <br>
        </div>

        <hr>

        <div class="resultats">
            <h1 class="titres">Résultats</h1>
            {% for livre in query %}
                <span class = "texte_recherche">{{ livre.title }}, par {{ livre.id.first.name }}. Référence : {{ livre.reference }}</span>
            {% empty %}
                <p>Aucun livre trouvé</p>
                <p>¯\_(ツ)_/¯</p>

            {% endfor %}
        </div>

    </div>

{% endblock %}