{% extends "base.html" %}

{% load static %}

{% block styleSup %}
    <link href="{% static 'bibliotheque/recherche.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="global">

        <div class="formulaire">
            <h1 class="titres">Rechercher un livre</h1>
            <form action="{% url "recherche" num_page%}" method="post">
                {% csrf_token %}<!--Permet de sécuriser le POST -->

                <div class="half left">
                    <select class="choix-genre">
                            {% for genre in form.choix_genre %}
                                <option value="{{ genre.0 }}">{{ genre.1 }}</option>
                            {% endfor %}
                    </select>
                    <p><input id="id_auteur" type="text" name="auteur" maxlength="40" placeholder="Auteur"></p>
                </div>

                <div class="half right">
                    <p><input id="id_titre" type="text" name="titre" maxlength="100" placeholder="Titre"></p>
                    <p><input id="id_serie" type="text" name="serie" maxlength="100" placeholder="Série"></p>
                </div>
                <input id="input-chercher" type="submit" value="Chercher" />
            </form>
            <br>
        </div>

        <hr>

        <div class="criteres">
            <h1 class="titres">Recherche actuelle</h1>
            {% if genre == "b" %}
                <span class="texte_recherche"> Genre </span>: BD<br>
            {% elif genre == "m" %}
                <span class="texte_recherche"> Genre </span>: Manga<br>
            {% else %}
                <span class="texte_recherche"> Genre </span>: BD et Manga<br>
            {% endif %}
            <span class="texte_recherche"> Auteur </span>: {{ auteur|default:"tous les auteurs" }} <br>
            <span class="texte_recherche"> Titre </span>: {{ titre|default:"tous" }} <br>
            <span class="texte_recherche"> Série </span>: {{ serie|default:"toutes" }} <br>
            <br>
        </div>

        <hr>

        <div class="resultats">
            <h1 class="titres">Résultats</h1>
            {% for livre in query %}
                <span class = "texte_recherche">{{ livre.title }}, par {{ livre.id.first.name }}. Référence : {{ livre.reference }}</span>
                <br>
            {% empty %}
                <p>Aucun livre trouvé</p>
                <p>¯\_(ツ)_/¯</p>

            {% endfor %}
        </div>

    </div>

{% endblock %}