@import url(https://fonts.googleapis.com/css?family=Merriweather);

.mon_article{
	background-color: #ffffff;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.titre-article {
    font-size: 40px;
    font-family: 'Montserrat Bold', arial;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-infos{
    font-size: 12px;
    font-family: 'Montserrat Light', arial;
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #868e96;
}

.mon_article > div {
    font-family: 'Montserrat', arial;
    font-size: 18px;
    text-align: justify;
    margin-top:20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}






.commentaires {
  background: #f1f1f1;
  font-family: 'Montserrat', arial;
  padding: 1em;
}

h1 { /* balise h1 qui va donner le style pour le titre "commentaire"*/
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}
/*Donne une forme générale du bloc de commentaires*/
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
/*Va gerer le style des zones de saisi des messages et des autres input*/
form input{
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Montserrat', arial;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
/*Va gerer le style des zones de saisi des messages */
form textarea{
  border: 0;
  outline: 0;
  padding-top: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 2em;
  font-family: 'Montserrat', arial;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

/* donne le style du bloc fils du bas pour le bloc parent message_sent */
form .message_sent .bas_mes{
  border: 0;
  outline: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70%;
  text-align: left;
  word-wrap: break-word; /* petite ligne pour faire en sorte que le texte retourne à la ligne sans depasser du cadre*!*/
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: block;
  width: 100%;
  margin-top: 0;
  font-family: 'Montserrat', arial;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form .message_sent .haut_mes{ /* donne le style du bloc fils du haut pour le bloc parent message_sent */
  border: 0;
  outline: 0;
  padding: 0;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: block;
  width: 100%;
  margin-top: 0;
  font-family: 'Montserrat', arial;
  background-color: rgba(255, 133, 49, 0.6);
  /*font-size: small;*/
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
/* donne le style du bloc fils du haut pour le bloc parent message_sent */
form .cat_message{
  border: 0;
  outline: 0;
  padding: 0;
  -moz-border-radius: 40px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: block;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 0;
  font-family: 'Montserrat', arial;
  background-color: rgba(57, 98, 97, 0.2);
  font-size: large;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

/* permet de selectioner la couleur des bords des cases input et textarea*/
form input:focus, form textarea:focus{
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #de7328;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
  }

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


/***************************************************************************************************/
/* Gère le style du scroll et la taille de la div corps*/
.corps{
  margin: auto;
  overflow-y: visible;
  overflow-x: hidden;
}
.corps::-webkit-scrollbar {
  width: 10px;

}
/* Track */
.corps::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
.corps::-webkit-scrollbar-thumb {
  background: rgba(20, 44, 255, 0.27);
  border-radius: 10px;
}
/* Handle on hover */
.corps::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 0, 251, 0.59);
}



/***********************************************************************************/
.position_captcha{
  margin-top: 2em;
}
.position_captcha img{
  margin-bottom: 0;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 0;
  float: left;
  width: 15%;
}
.position_captcha input {
  margin-top: 0;
  width: 75%;
  margin-left: 2%;
}
/***********************************************************************************************/

/* The alert message box */
/*.alert {*/
/*  */
/*  padding: 20px;*/
/*  color: white;*/





/* When moving the mouse over the close button */


.alert {
  position: absolute;
  border-radius: 10px;
  z-index: 101;
  top: 7%;
  left: 25%;
  right: 25%;
  background: #de7328;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.closebtn {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-right: 20px;
  border: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

/*---------------------------------------------------------------------------------------*/

/* partie pour les pages */


.pages{
    text-align: center;
    font-family: 'Montserrat', arial;
    font-size: 18px;
}

.pages a{
    text-decoration: none;
    color: #000000;
}



.pages > a:focus, .pages > a:hover{
    text-decoration: none;
    color: #de7328;
}
