
.entete2-content.img {
	padding: 0px;
    width:100%;
}

.entete2-content {
    marging:100px;
    background-image: url('festival3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    height: 700px;
}



.description-actu{
    text-align: center;
}

.lesArticles{
	background-color: #ffffff;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.lesArticles .titre-article {
    font-size: 40px;
    font-family: 'Montserrat Bold', arial;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lesArticles > div {
  font-family: 'Montserrat', arial;
  font-size: 18px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}



.titre-actu {
    font-family: 'Montserrat Black', arial;
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.article-infos{
    font-size: 12px;
    font-family: 'Montserrat Light', arial;
    font-style: italic;
    margin-top: 5px;
    margin-left: 10px;
    color: #868e96;
}


.articles a{
    text-decoration: none;
    color: #000000;
}

.articles > a:focus, .articles > a:hover{
    text-decoration: none;
    color: #de7328;
}



.hr{
  margin-top: 1rem;
  margin-botton: 1rem;
  border:0;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top: 1px solid rgba(0,0,0,.1);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
}



.pages{

    text-align: center;
}


.pages > a:focus, .pages > a:hover{
    text-decoration: none;
    color: #de7328;
}
