body {
	margin:0;
	background-color: #f1f1f1;
}

ul {
	z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
  background-color: #4CAF50;
}



/* Image et texte en haut de page */

.entete-content.img {
	padding: 0px;
    width:100%;
}

.entete-content {
    background-image: url('livres_rogner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    height: 400px;
}


.entete-content h3 {
	position: relative;
    top: 120px;
    left: 150px;
    font-family: 'Montserrat Bold', arial;
    color: #ffffff;
    font-size: 35px;
    text-shadow: 2px 2px 2px #777777;

}



/* Footer */

.footer-content{
	background-color: #393939;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Montserrat Light', arial;
	padding: 20px 20px;
	margin-top: 50px;
}

.footer-content .footer-left,
.footer-content .footer-center,
.footer-content .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-content .footer-left{
	width: 10%;
}

.footer-content .footer-left img {
  vertical-align: central;
  text-align: center;
}

.footer-content .footer-left a{
	color:  #ffffff;
    text-align: center;
	padding: 0;
}


/* Footer Center */
.footer-content .footer-center{
	width: 30%;
    margin-left: 5%;
}


.footer-content .footer-center i{
	background-color: #646464;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	vertical-align: 0%;
}


.footer-content .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin-top: 10px;
}

/* Footer Right */
.footer-content .footer-right{
	width: 40%;
}

.footer-content .footer-right #map-container {
    height: 240px;
    width: 100%;
    text-align: center;
}


/* Pour que le footer soit responsive */

@media (max-width: 1000px) {

	.footer-content{
		font: bold 14px sans-serif;
	}

	.footer-content .footer-left,
	.footer-content .footer-center,
	.footer-content .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.footer-content .footer-center i{
		margin-left: 0;
	}

}