{% extends "base.html" %}
{% block titreOnglet %} Article {% endblock %}
{%  block styleSup %}
    {% load static %}
    <link href="{% static 'vitrine/article.css'%}" rel="stylesheet">

{% endblock %}



{% block content %}
    <!-ARTICLE-->
    <div class="mon_article">
        <h3 class="titre-article">{{ article.titre }}</h3>
        <p class="article-infos">Publié par {{ article.auteur }}. Le {{ article.date }}</p>
        <p class="contenu-article"><div>{{ article.contenu|safe }}</div></p>
    </div>

    </br>
    </br>
    </br>


    <!--COMMENTAIRES -->
    <div class="commentaires">
        <h1>Commentaires</h1>
        <div class="corps" id="pour_scroll">
            {% for com in commentaires %}
                <form>
                    <label class="message_sent">
                        <label class="haut_mes">
                            publié le : {{ com.date }}
                            <br>
                        </label>
                        <label class="bas_mes">{{ com.contenu }}</label>
                    </label>
                </form>
            {% endfor %}

        </div>
        <!--#TODO: ajouter un long scroll pour afficher les 10 com suivants-->


        <!-FORMULAIRE DE COMMENTAIRE-->

        {% if envoi %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong> Super ! </strong> Votre commentaire a bien été envoyé !
        </div>

        <form action="{% url "article" id_article page_commentaire %}" method="post">
            {% csrf_token %}<!--Permet de sécuriser le POST -->
            <div class="cat_message">
                <label for="id_message">Message&nbsp;</label>
            </div>
            <textarea name="message" cols="40" rows="10" required="" id="id_message" placeholder="Ecrivez votre commentaire"></textarea>
            <div class="position_captcha">
                {{ form.captcha }}
            </div>

            <input type="submit" value="Envoyer" id="input-submit"/>
        </form>

        {% endif %}

        {% if not envoi %}

        <form action="{% url "article" id_article page_commentaire %}" method="post">
            {% csrf_token %}<!--Permet de sécuriser le POST -->
            <div class="cat_message">
                <label for="id_message">Message&nbsp;</label>
            </div>
            <textarea name="message" cols="40" rows="10" required="" id="id_message" placeholder="Ecrivez votre commentaire"></textarea>
            <div class="position_captcha">
                {{ form.captcha }}
            </div>

            <input type="submit" value="Envoyer" id="input-submit"/>
        </form>


        {% endif %}

    </div>

    {#kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk#}


            {#  Début de la partie qui Sert à naviguer entre les pages #}

        <div class="pages">{% if page_commentaire != 0 %}<a id="previous_page" href="">Commentaires précédents</a> {% endif %}
            <span id="nb_pages"></span>
            {% if page_commentaire < pages_comms_necessaires  %}<a id="next_page" href="">Commentaires suivants</a>{% endif %}
        </div>





    <script type="text/javascript">

        var page_suivante = document.getElementById('next_page');
        var page_precedente = document.getElementById('previous_page');
        var nbr_pages = document.getElementById("nb_pages");


        var text = '';
        for(var i=1;i<= ({{ pages_comms_necessaires }}+1) ; i++) {

            text += "<a href='/article/{{ id_article }}/"+(i-1)+"'>" + i + " </a> ";



        }

        text+='';
        nbr_pages.innerHTML = text;

        var num_page_suivante;
        var num_page_precedente;

        num_page_suivante = {{ page_commentaire }} +1;
        num_page_precedente = {{ page_commentaire }} -1;

        if (page_suivante != null){
            page_suivante.href = "/article/" + {{ id_article }} + "/" + num_page_suivante;
        }


        if (page_precedente!=null){
            page_precedente.href="/article/"+ {{ id_article }} + "/" +num_page_precedente;
        }


    </script>

{% endblock %}


