{% extends "base.html" %}

{% load static %}
{% block styleSup %}
    <link href="{% static 'vitrine/index.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="entete-content">
        <h3>Club BD Manga<br>
            INSA Lyon</h3>
    </div>

    <div class="lesArticles">
        <div>
            <h1 class="titre-actu"> Actualité ! </h1>
        </div>
        <!-POUR AVOIR LES 3 DERNIERS ARTICLES -->
        {% for article in last_articles %}
            <a href="/article/{{ article.id}}">
            <h3 class="titre-article">{{ article.titre|safe }}</h3></a>
            <p class="contenu-article"><div>{{ article.contenu|safe|truncatewords_html:120 }}</div></p>
            <p class="article-infos">Publié par {{ article.auteur }}. Le {{ article.date }}</p>
            <hr>
        {% endfor %}

        <div class="plus-articles">
            <a href="/actus/">
                <h3>Plus d'articles</h3>
            </a>
        </div>
    </div>
    <!- FIN ARTICLES -->

{% endblock %}
