<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block titreOnglet %}INSA BD/Manga {% endblock %}</title>

  <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'vitrine/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!--Pour les polices de caractères-->
    <link href="http://fr.allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
    <link href="http://fr.allfont.net/allfont.css?fonts=montserrat-bold" rel="stylesheet" type="text/css" />
    <link href="http://fr.allfont.net/allfont.css?fonts=montserrat-black" rel="stylesheet" type="text/css" />
    <link href="http://fr.allfont.net/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />
    {% block styleSup %}{% endblock %}

</head>
<body>


    {% block nav %}
    {% if user.is_authenticated %}
        <ul class = "navi" >
            <li><a class="active" href="{% url "index" %}">Accueil</a></li>
            <li><a href="{% url "actus" %}">Actus</a></li>
            <li><a href="{% url "festival" %}">Le festival</a></li>
            <li><a href="{% url "recherche-ouvrages" %}">Nos Ouvrages</a></li>
            <li><a href="{% url "archives" %}">Archives</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            <li><a href="{%  url "infos" %}">Infos pratiques</a></li>
            <li><a href="{% url "doc" %}">Documentation</a></li>
        </ul>
    {% else %}
        <ul class = "navi" >
            <li><a class="active" href="{% url "index" %}">Accueil</a></li>
            <li><a href="{% url "actus" %}">Actus</a></li>
            <li><a href="{% url "festival" %}">Le festival</a></li>
            <li><a href="{% url "recherche-ouvrages" %}">Nos Ouvrages</a></li>
            <li><a href="{% url "archives" %}">Archives</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            <li><a href="{%  url "infos" %}">Infos pratiques</a></li>
        </ul>
    {% endif %}

    {% endblock %}

    <div style="margin-top:30px">

    {% block content %}
    {% endblock %}

    </div>

    {% block script %}
    {% endblock %}


{% block footer %}
    <footer class="footer-content">
        <div class="footer-left">
            <div>
            <img
                src = "{% static 'vitrine/img/logo-bd-mangaclub.png'%}"
                height="100px"
                width="100px"
            />
            </div>
            <div>
                <p>
                    <a href="http://clubbdmanga.insa-lyon.org/content/mentions-legales" >
                    Mentions légales
                    </a>
                </p>
            </div>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>MdE (bâtiment le Thélème)<br>
                    18 avenue des Arts<br>
                    69621 Villeurbanne cedex<br>
                </p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>tél : + 33 (0)4 72 43 83 83<br>
                    fax : + 33 (0)4 72 43 85 00<br>
                </p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>clubbdinsa@gmail.com</p>
            </div>

            <div>
                <i class="fa fa-facebook"></i>
                <a href="https://www.facebook.com/bd.manga.7">
                    <p>Page Facebook</p>
                </a>
            </div>
        </div>
        <!-- Ici Google Maps. -->
        <div class="footer-right">
            <iframe id=map-container src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.3471255738314!2d4.872751315441652!3d45.78427297910615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eaa0920c8b95%3A0xdcdfacf49dc62857!2sClub+BD+Manga+INSA!5e0!3m2!1sfr!2sfr!4v1557589338729!5m2!1sfr!2sfr" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </footer>
{% endblock %}

</body>
</html>